@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default
}


.background-image {
    background-image: url(../public/10.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        text-align: center;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        color: white;
}

.background-image-2 {
    background-image: url(../public/17.jpeg);
        background-size: cover;
        background-position: center;
        height: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        color: white;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.blockquote-wrapper {
    display: flex;
    /* height: 100vh; */
    padding: 0 20px;
}

.blockquote {
    position: relative;
    font-weight: 800;
    color: #000000;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.blockquote h3 {
    position: relative;
    color: #000000;
    line-height: 1;
    margin: 0;
}

.blockquote:after {
    position: absolute;
    content: "”";
    color: rgb(0, 0, 0);
    font-size: 8rem;
    line-height: 0;
    bottom: -33px;
    right: 30px;
}

@media all and (min-width: 600px) {
    .blockquote h3 {
        font-size: 1.3rem;
    }

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-resizerNew {
    position: relative;
    top: calc(1/2 * 100%);
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
        height: calc(0.25rem
                /* 4px */
                * 2)
            /* 0.5rem = 8px */
        ;
        width: 750px;
        max-width: calc(100cqi - 1rem
                /* 16px */
            );
        min-width: 1rem
            /* 16px */
        ;
        resize: horizontal;
        overflow: hidden;
            transform: scaleY(3) translate(0.35rem
                    /* 5.6px */
                    , 0.08rem
                    /* 1.28px */
                );
            transform-origin: 100% 100%;
            clip-path: inset(calc(100% - 0.75rem
                        /* 12px */
                    ) 0 0 calc(100% - 0.75rem
                        /* 12px */
                    ));
            transition: min-width 0.3s ease-out, max-width 0.3s ease-out;
            /* background-color: #e5484d; */
           
}

.fb {
    font-size: 1rem;
}
