@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.background-image {
    background-image: url(../public/10.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.background-image-2 {
    background-image: url(../public/17.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.blockquote-wrapper {
    display: flex;
    /* height: 100vh; */
    padding: 0 20px;
}

.blockquote {
    position: relative;
    font-weight: 800;
    color: #000000;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.blockquote h3 {
    position: relative;
    color: #000000;
    line-height: 1;
    margin: 0;
}

.blockquote:after {
    position: absolute;
    content: "”";
    color: black;
    font-size: 8rem;
    line-height: 0;
    bottom: -33px;
    right: 30px;
}

@media all and (min-width: 600px) {
    .blockquote h3 {
        font-size: 1.3rem;
    }

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.fb {
    font-size: 1rem;
}


.dNew {
    width: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
    container-type: inline-size;
}

.hero-overlay-2 {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
    background-color: color-mix(in oklab, var(--color-neutral)
            /* var(--color-neutral) */
            70%, transparent);
    z-index: 10;
}


